	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/10/2017 23:34
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./fonts/Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: auto;
font-style: normal;
margin-left: 0;
}

.flaticon-school-call-phone-reception:before { content: "\f100"; }
.flaticon-fax:before { content: "\f101"; }
.flaticon-placeholder:before { content: "\f102"; }
.flaticon-cup-of-hot-chocolate:before { content: "\f103"; }
.flaticon-sedan-car-model:before { content: "\f104"; }
.flaticon-contact:before { content: "\f105"; }
.flaticon-phone-receiver:before { content: "\f106"; }
.flaticon-balcony-and-door:before { content: "\f107"; }
.flaticon-sunbed:before { content: "\f108"; }
.flaticon-no-smoking-sign:before { content: "\f109"; }
.flaticon-person-learning-by-reading:before { content: "\f10a"; }
.flaticon-hot-coffee-cup-with-hearts:before { content: "\f10b"; }
.flaticon-eye:before { content: "\f10c"; }
.flaticon-swimming-silhouette:before { content: "\f10d"; }
.flaticon-bed:before { content: "\f10e"; }
.flaticon-wifi-connection-signal-symbol:before { content: "\f10f"; }
.flaticon-graph-line-screen:before { content: "\f110"; }
.flaticon-weightlifting:before { content: "\f111"; }
.flaticon-room-service:before { content: "\f112"; }
.flaticon-parking:before { content: "\f113"; }
.flaticon-air-conditioning:before { content: "\f114"; }
.flaticon-breakfast:before { content: "\f115"; }