/*Begin : CSS For Homepage Content*/
.flat-video .video-title
    {
        padding-top: 77px;
        border-top: 1px solid #ebebeb;
    }
    .bottom_border
    {
        border-bottom: 1px solid #ebebeb;
    }
    .videolabeldiv
    {
        margin-top: 42px !important;
    }
    .box-highlights
    {
        border-top: none !important;
        border-bottom: none !important;
    }
    
    .delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s
}
/*Custom Anmation*/
.bgburns .slides li:nth-of-type(odd) .slide-background {
    animation: bgburnsEast 25s linear infinite alternate;
    -webkit-animation: bgburnsEast 25s linear infinite alternate
}

.bgburns .slides li:nth-of-type(even) .slide-background {
    animation: bgburnsWest 25s linear infinite alternate;
    -webkit-animation: bgburnsWest 25s linear infinite alternate
}

@keyframes bgburnsEast {
    from {
        transform: scale(1) translateX(0);
        -webkit-transform: scale(1) translateX(0)
    }
    to {
        transform: scale(1.2) translateX(100px);
        -webkit-transform: scale(1.2) translateX(100px)
    }
}

@-webkit-keyframes bgburnsEast {
    from {
        transform: scale(1) translateX(0);
        -webkit-transform: scale(1) translateX(0)
    }
    to {
        transform: scale(1.2) translateX(100px);
        -webkit-transform: scale(1.2) translateX(100px)
    }
}

@keyframes bgburnsWest {
    from {
        transform: scale(1) translateX(0);
        -webkit-transform: scale(1) translateX(0)
    }
    to {
        transform: scale(1.2) translateX(-100px);
        -webkit-transform: scale(1.2) translateX(-100px)
    }
}

@-webkit-keyframes bgburnsWest {
    from {
        transform: scale(1) translateX(0);
        -webkit-transform: scale(1) translateX(0)
    }
    to {
        transform: scale(1.2) translateX(-100px);
        -webkit-transform: scale(1.2) translateX(-100px)
    }
}

@media all and (max-width: 767px) {
    .flex-direction-nav {
        display: none
    }

    .bgburns .slides li .slide-background {
        -webkit-animation: none !important;
        animation: none !important
    }
}

.btn-md {
    cursor: pointer;
    padding: 11px 30px;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #555;
    transition: .5s;
    border-radius: 2px;
    border: none;
}

.btn-md:hover {
    color: #333;
    text-decoration: none;
}

.button-lg {
    cursor: pointer;
    padding: 18px 30px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #555;
    background: #DDD;
    transition: .5s;
    border-radius: 2px;
    border: none;
}

.button-lg:hover {
    color: #333;
    text-decoration: none;
}


.btn-blocks{
    background: #2f2f2f;
    border: solid 2px #2f2f2f;
}

.btn-blocks:hover{
    background: #000;
    color: #fff;
    border: solid 2px #2f2f2f;
}

.nav-item{
    display: inline-block;
}

.btn-navbar{
    padding: 6px 20px !important;
    margin-top: 24px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-bottom: transparent !important;
}

/** Solid Buttons Colors **/
.btn-theme {
    color: #FFF !important;
}

.btn-theme:hover,
.btn-theme:focus {
    outline: none;
    color: #fff;
}

.btn.active, .btn:active {
    box-shadow: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}

/** Border Buttons Colors **/
.btn-outline {
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #555;
    transition: .5s;
    border-radius: 2px;
    border: 1px solid #555;
}

.border-button-default {
    color: #555;
    background: #DDD;
}

.border-button-default:hover {
    color: #333;
    background: #DDD;
}

.button-section a {
    margin: 0 5px 5px;
}


/** BANNER AREA START **/
.banner {
    position: relative;
}

.banner .item img {
    height: 100%;
    width: 100%;
}


.banner-max-height {
    max-height: 720px !important;
}

.banner-max-height img {
    max-height: 720px;
}

.banner-content {
    align-self: center !important;
    max-width: 700px;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif !important;;
    color: #fff;
}

.banner-content-left {
    margin-left: 8%;
    margin-right: 8%;
}

.carousel-control {
    width: 0;
}

.carousel-control.left {
    background: none;
}

.carousel-control.right {
    background: none;
}

.slider-mover-left {
    width: 35px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
    left: 0;
    background: #151515;
    text-align: center;
    border-radius: 0 5px 5px 0;
}

.slider-mover-left i {
    font-size: 20px;
}

.slider-mover-right {
    width: 35px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
    right: 0;
    background: #151515;
    text-align: center;
    border-radius: 5px 0 0 5px;
}

.slider-mover-right i {
    font-size: 20px;
}

.banner .banner-slider-inner {
    top: 0%;
    display: inline-block;
    text-shadow: none;
    right: 0%;
    left: 0%;
    padding: 0;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex !important;
}

.banner .banner-slider-inner h1 {
    color: #fff;
    margin: 0 0 20px;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
}

.banner .banner-slider-inner h1 span {
    font-weight: 900;
}

.banner .banner-slider-inner h2 {
    font-size: 50px;
}

.banner .banner-slider-inner p {
    margin-bottom: 30px;
    color: #fff;
    line-height: 1.6;
    font-size: 15px;
    font-weight: 400;
    opacity: 0.8;
}

.banner-style-3 .banner-slider-inner h1 {
    font-size: 36px;
}


.carousel-caption .btn {
    text-shadow: none;
    margin: 5px;
}

.form-control {
    padding-left: 15px;
}


.btn-grey {
    background: #efefef;
    padding: 13px 20px;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 2px;
    border: solid 1px #efefef;
}

.btn-grey:hover {
    background: #efefef;
    border: solid 1px #efefef;
}

/** MEDIA QUERY **/
@media (max-width: 995px) {

    .banner_video_bg .carousel-inner .item {
        height: 500px;
    }

    .animated {
        /*CSS3 animation properties*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;

        /*CSS3 transition properties*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;

        /*CSS3 transform properties*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }
}
@media (max-width: 768px) {

    .banner .item img {
        min-height: 250px;
    }

    .banner-content {
        max-width: 80%;
        padding-top: 25px;
    }

    .banner .banner-slider-inner h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .banner .banner-slider-inner p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .slider-mover-left i {
        font-size: 20px;
    }

    .slider-mover-right i {
        font-size: 20px;
    }

    .banner .item img {
        height: 300px;
    }

    .banner .banner-slider-inner .btn {
        font-size: 11px;
        padding: 7px 12px;
        margin-bottom: 5px;
    }

    .banner .item {
        height: auto;
    }


    .banner .banner-slider-inner h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .slider-mover-left {
        width: 25px;
        height: 40px;
        line-height: 40px;
    }

    .slider-mover-left i {
        font-size: 15px;
    }

    .slider-mover-right {
        width: 25px;
        height: 40px;
        line-height: 40px;
    }

    .slider-mover-right i {
        font-size: 15px;
    }


    .typography-page p {
        font-size: 13px;
        line-height: 25px;
        text-align: justify;
    }

    .animated {
        /*CSS3 animation properties*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;

        /*CSS3 transition properties*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;

        /*CSS3 transform properties*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }
}


@media (min-width: 992px) {
    .banner .item img {
        animation: bgburnsEast 25s linear infinite alternate;
        -webkit-animation: bgburnsEast 25s linear infinite alternate;
    }
}


@media (min-width: 992px) and (max-width: 1200px){

    .banner-style-3 .banner-content {
        max-width: 600px;
    }

    .banner-style-3 .banner-slider-inner h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .banner-style-3 .banner-slider-inner p {
        font-size: 14px;
        margin-bottom: 10px;
    }
}
/*End : CSS For Homepage Content*/

/*Begin: BootSTrap 3.3.6 CSS Start For HomeOPage Slider Of Page Slider*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.banner-content h1 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.banner-content p {
  margin: 0 0 10px;
}
.homepageslider .carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}

/*End: BootSTrap 3.3.6 CSS Start For HomeOPage Slider Of Page Slider*/