	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/09/2017 08:08
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-learning:before { content: "\f100"; }
.flaticon-002-stopclock:before { content: "\f101"; }
.flaticon-003-growth:before { content: "\f102"; }
.flaticon-004-elearning:before { content: "\f103"; }
.flaticon-005-job-search:before { content: "\f104"; }
.flaticon-006-training-5:before { content: "\f105"; }
.flaticon-007-target:before { content: "\f106"; }
.flaticon-008-goal:before { content: "\f107"; }
.flaticon-009-skills:before { content: "\f108"; }
.flaticon-010-thinking-1:before { content: "\f109"; }
.flaticon-011-asking:before { content: "\f10a"; }
.flaticon-012-idea-1:before { content: "\f10b"; }
.flaticon-013-productivity:before { content: "\f10c"; }
.flaticon-014-rank:before { content: "\f10d"; }
.flaticon-015-puzzle:before { content: "\f10e"; }
.flaticon-016-training-4:before { content: "\f10f"; }
.flaticon-017-brain:before { content: "\f110"; }
.flaticon-018-presentation-1:before { content: "\f111"; }
.flaticon-019-teamwork-1:before { content: "\f112"; }
.flaticon-020-presentation:before { content: "\f113"; }
.flaticon-021-dumbbell:before { content: "\f114"; }
.flaticon-022-weightlifting:before { content: "\f115"; }
.flaticon-023-stationary-bicycle:before { content: "\f116"; }
.flaticon-024-motivation:before { content: "\f117"; }
.flaticon-025-megaphone:before { content: "\f118"; }
.flaticon-026-training-3:before { content: "\f119"; }
.flaticon-027-coach:before { content: "\f11a"; }
.flaticon-028-thinking:before { content: "\f11b"; }
.flaticon-029-deal:before { content: "\f11c"; }
.flaticon-030-test:before { content: "\f11d"; }
.flaticon-031-analytics:before { content: "\f11e"; }
.flaticon-032-training-2:before { content: "\f11f"; }
.flaticon-033-training-1:before { content: "\f120"; }
.flaticon-034-decision-making:before { content: "\f121"; }
.flaticon-035-graduation:before { content: "\f122"; }
.flaticon-036-class:before { content: "\f123"; }
.flaticon-037-idea:before { content: "\f124"; }
.flaticon-038-school:before { content: "\f125"; }
.flaticon-039-conversation:before { content: "\f126"; }
.flaticon-040-mortarboard:before { content: "\f127"; }
.flaticon-041-settings:before { content: "\f128"; }
.flaticon-042-diploma:before { content: "\f129"; }
.flaticon-043-medal:before { content: "\f12a"; }
.flaticon-044-teamwork:before { content: "\f12b"; }
.flaticon-045-training:before { content: "\f12c"; }
.flaticon-046-podium:before { content: "\f12d"; }
.flaticon-047-creation:before { content: "\f12e"; }
.flaticon-048-studying:before { content: "\f12f"; }
.flaticon-049-success:before { content: "\f130"; }
.flaticon-050-book:before { content: "\f131"; }